body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #cd1818;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffca03;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

.btn-group {
  padding: 10px;
}

/* Adjustment for smaller screens */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#main-container {
  padding-left: 50px;
  padding-right: 50px;
}

#root {
  padding-left: 180px;
}
#developerContainer {
  padding-bottom: 10px;
}

h1 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
}

h2 {
  padding-bottom: 10px;
}

.course-container {
  margin-bottom: 10px;
}
.card.shadow-sm {
  border-radius: 30px;
  border-color: #cd1818;
}
hr {
  border:solid;
}

p {
  padding-left: 20px;
}